.signOutButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.signOutButton {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 20px;
  height: 35px;
  transition: all 0.3s ease;
}
.signOutButton:hover {
  background-color: gainsboro;
}
.signOutButton:active {
  transform: scale(0.95);
}
.addItemRow{
  margin-top:50px !important;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  justify-self: center;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
}
.inputBox{
  padding: 10px;
  width:100%;
  border: none;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.inputBox:focus{
  outline: none;
}
.buttonAdd {
  width: 100%;
  border: none;
  background-color: transparent;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  transition: all 0.1s ease;
}

.buttonAdd:hover {
  color: gray;
}

.buttonAdd:active {
  text-shadow: 
    1px 1px 0 rgba(128,128,128,0.3),
    2px 2px 0 rgba(128,128,128,0.25),
    3px 3px 0 rgba(128,128,128,0.2),
    4px 4px 0 rgba(128,128,128,0.15),
    5px 5px 0 rgba(128,128,128,0.1);
  transform: translate(-1px, -1px);
  color: black;
}
