.todoItem {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.itemCheckbox {
    width: 18px;
    height: 18px;
    /* accent-color: #495057; */
    accent-color: #e63946;
}

.todoItemIndex {
    font-family: Impact, Haettenschweiler, "Anton", 'Arial Narrow Bold', sans-serif;
}

.todoContent {
    padding: 1rem;
}

.todoText {
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.author {
    font-size: 11px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #495057;
    padding-left: 8px;
    border-left: 2px solid #e63946;
}

.itemComplete {
    color: gray;
    text-decoration: line-through;
}

.buttonDelete {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    margin: 10px;
    transition: all 0.2s ease;
}

.buttonDelete:hover {
    background-color: lightblue;
    color: #ffffff;
    border: 1px solid lightblue;
}

.buttonDelete:active {
    transform: scale(0.9);
}
