body{
  background-image: url("https://i.namu.wiki/i/NOZvdxwC1fH2I8VvV0HDGBfBYpCHWkY0WjLG9DAnR2L669TZFRNkasQTcxgicmnd1vtRLdqsOnW-AAC_r_g8qw.webp");
  background-size: 100% 200%;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
