body{
  background-image: url("https://i.namu.wiki/i/NOZvdxwC1fH2I8VvV0HDGBfBYpCHWkY0WjLG9DAnR2L669TZFRNkasQTcxgicmnd1vtRLdqsOnW-AAC_r_g8qw.webp");
  background-size: 100% 200%;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-box{
  border:1px solid lightblue;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.login-box label{
  font-weight: 700;
}

.display-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.button-box{
  display:flex;
  justify-content: space-between
}

.button-primary{
  background-color: lightblue;
  color: #ffffff;
  border:none;
}
